/* Importa a fonte Chakra Petch do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Estiliza o corpo da página */
body {
    font-family: "Chakra Petch", sans-serif; /* Define a fonte padrão */
    /* background-color: #DDDDDD; /* Cor de fundo da página */
    /* Substituindo a cor de fundo por uma imagem */
    background-image: url('images2.jpeg');
    /* Outras propriedades para ajustar a imagem de fundo */
    background-size: cover; /* Ajusta a imagem para cobrir todo o espaço */
    background-position: center; /* Centraliza a imagem   */
    
    display: flex; /* Usa Flexbox para layout */
    flex-direction: column; /* Alinha os itens na vertical */
    align-items: center; /* Centraliza os itens horizontalmente */
    justify-content: center; /* Centraliza os itens verticalmente */
    height: 100vh; /* Preenche a altura total da viewport */
    margin: 0;
    padding: 0;
}


/* Estiliza os títulos h1 */
h1 {
    font-size: 2.5rem; /* Tamanho da fonte */
    color: #5f0c0c; /* Cor do texto */
    text-align: center; /* Alinha o texto ao centro */
    letter-spacing: 0.4rem; /* Espaçamento entre letras */
}

/* Estiliza as seções da página */
section {
    display: flex; /* Usa Flexbox para layout */
    flex-direction: column; /* Alinha os itens na vertical */
    align-items: center; /* Centraliza os itens horizontalmente */
    margin-bottom: 3rem; /* Espaçamento abaixo de cada seção */
}

/* Estiliza os inputs dentro das seções */
section input {
    width: 30rem; /* Largura dos inputs */
    border: none; /* Remove a borda padrão */
    padding: 1rem; /* Espaçamento interno */
    border-radius: 1.5rem; /* Borda arredondada */
    margin-bottom: 1rem; /* Espaçamento abaixo dos inputs */
    color: #45474B; /* Cor do texto */
    font-size: 1rem; /* Tamanho da fonte */
    box-sizing: border-box; /* Inclui padding e border na largura total */
}

/* Estiliza os botões dentro das seções */
section button {
    padding: 0.8rem 1.2rem; /* Espaçamento interno do botão */
    border: none; /* Remove a borda padrão */
    border-radius: 1.5rem; /* Borda arredondada */
    background-color: #30475E; /* Cor de fundo do botão */
    color: #F5F7F8; /* Cor do texto do botão */
    font-size: 1rem; /* Tamanho da fonte */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

/* Estiliza a caixa de resultados da pesquisa */
.resultados-pesquisa {
    width: 60rem; /* Largura máxima da caixa de resultados */
    height: 46vh; /* Altura máxima da caixa de resultados */
    overflow-y: auto; /* Adiciona rolagem vertical se necessário */
    margin-top: 1rem; /* Espaçamento acima da caixa de resultados */
    padding: 1rem; /* Espaçamento interno */
    border-radius: 0.6rem; /* Borda arredondada */
}

/* Estiliza cada item de resultado */
.item-resultado {
    background: #FFFFFF; /* Cor de fundo dos itens */
    border: 3px solid #000; /* Borda sólida de 3px, preta */
    border-radius: 0.6rem; /* Borda arredondada */
    padding: 1rem; /* Espaçamento interno */
    margin-bottom: 1rem; /* Espaçamento abaixo dos itens */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra leve */
}


/* Estiliza os títulos dentro dos itens de resultado */
.item-resultado h2 {
    font-size: 1.5rem; /* Tamanho da fonte */
    color: #222831; /* Cor do texto */
    text-align: center; /* Alinha o texto ao centro */
}

/* Estiliza os links dentro dos itens de resultado */
.item-resultado a {
    text-decoration: none; /* Remove o sublinhado padrão dos links */
    color: #30475E; /* Cor do texto dos links */

}

/* Estiliza os links quando são passados o mouse sobre */
.item-resultado a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}

/* Estiliza a descrição meta dentro dos itens de resultado */
.descricao-meta {
    color: #45474B; /* Cor do texto */
    margin: 0.5rem 0; /* Margem acima e abaixo */
}

/* Estiliza o rodapé da página */
footer {
    background-color: #1b6e6e2d; /* Cor de fundo do rodapé */
    color: #530c44c9; /* Cor do texto */
    text-align: center; /* Alinha o texto ao centro */
    padding: 10px; /* Espaçamento interno */
    width: 100%; /* Largura total da página */
    position: fixed; /* Fixa o rodapé */
    bottom: 0; /* Alinha ao fundo da janela */
    font-size: 1.3rem; /* Tamanho da fonte */
    font-weight: bold; /* Adiciona o negrito ao texto */
    z-index: 1000; /* Garante que o rodapé esteja acima de outros conteúdos */
    overflow: hidden; /* Esconde o conteúdo que extrapola */
}

footer::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 20px; /* Altura do efeito de sangue */
    background: rgba(139, 0, 0, 0.8); /* Cor de sangue */
    box-shadow: 0 10px 15px rgba(139, 0, 0, 0.5), 
                5px 5px 10px rgba(139, 0, 0, 0.3), 
                -5px 5px 10px rgba(139, 0, 0, 0.3); /* Sombreamento irregular */
    border-radius: 50%; /* Forma arredondada para respingos */
}

footer::after {
    content: '';
    position: absolute;
    bottom: -20px; /* Ajuste para posicionar o efeito abaixo do rodapé */
    left: 50%;
    transform: translateX(-50%);
    width: 200px; /* Largura dos respingos */
    height: 30px; /* Altura dos respingos */
    background: rgba(139, 0, 0, 0.8); /* Cor de sangue */
    border-radius: 50%; /* Forma arredondada */
    box-shadow: 0 10px 15px rgba(139, 0, 0, 0.5), 
                5px 5px 10px rgba(139, 0, 0, 0.3), 
                -5px 5px 10px rgba(139, 0, 0, 0.3); /* Sombreamento para respingos */
}

.item-resultado-nao-encontrado-h4 {
    font-size: 1.3rem; /* Tamanho da fonte */
    color: #5a0b69; /* Cor do texto */
    text-align: center; /* Alinha o texto ao centro */
    
}

.item-campo-vazio {
    font-size: 1.3rem; /* Tamanho da fonte */
    color: #390842; /* Cor do texto */
    text-align: center; /* Alinha o texto ao centro */
    font-weight: bold; /* Deixa o texto em negrito */
    margin-top: 2rem; /* Espaçamento acima do texto, ajuste conforme necessário */
}

.todas {
    font-size: 1.3rem;
    width: 24rem;
    color: #ffffff; /* Cor do texto em branco para contraste */
    text-align: center;
    font-weight: bold;
    border: none;
    border-radius: 1.5rem;
    background-color: rgba(178, 45, 41, 0.8); /* Tom de vermelho sangue com 80% de opacidade */
    background-size: cover;
    background-blend-mode: multiply; /* Mistura a textura com a cor de fundo */
    margin: 2rem auto; /* Centraliza horizontalmente com margem automática e adiciona espaçamento acima e abaixo */
}


    
    



